<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>n.i.c.k.</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <body>
    <!-- <header>
      <form action="/" method="get">
        <input type="text" name="query" placeholder="Search for Categories...">
      </form>
    </header> -->
    <section id="item_list">
      <div class="item">
        <h1>Electronics</h1>
      </div>
      <% items.forEach(function(item) { %>
      <div class="item">
        <div class="item_thumb">
          <img class="item_thumb_img" src="<%= item.mediumImage %>">
        </div>
        <div class="item_details">
            <p>
              <span><%= item.name %></span><br/>
              $<%= item.salePrice %><br/>
              Reviews: <%= item.numReviews %> Average Rating: <%= item.customerRating %>
            </p>    
        </div>
      </div>
      <% }); %>
    </section>
  </body>
</html>