#item_list {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    border-right: 1px solid #A3A3A3;
}

.item {
    border-bottom: 1px solid #A3A3A3;
    padding: 15px;
    overflow: hidden;
}

.item_thumb {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    float: left;
}

.item_thumb_img {
    width: 100%;
    height: 100%;
}

.item_details {
    width: 455px;
    float: left;
}

.item_details > p {
    -webkit-margin-before: 0px;
}

.item_details > p > span {
    font-weight: bold;
}